<h1><%= t('shared_book.expense_record_edit') %></h1>

<%= render "form", expense_record: @expense_record %>

<div>
  <%= link_to t('shared_book.details'), user_url %>|
  <%= link_to t('shared_book.expense_record_index'), expense_records_path %>
</div>
