<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row mb-3">
        <div class="col">
            <h1 class="h3 mb-2 text-gray-800"><%= t('shared_book.edit_category') %></h1>
        </div>
        <div class="col text-right">
            <%= link_to t('shared_book.category_index'), categories_path, class: "btn btn-primary" %>
        </div>
    </div>

  <!-- New Data -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <%= render 'form' %>
    </div> 
  </div>
</div>
