<h1>Editing incomes expense</h1>

<%= render "form", incomes_expense: @incomes_expense %>

<br>

<div>
  <%= link_to "Show this incomes expense", @incomes_expense %> |
  <%= link_to "Back to incomes expenses", incomes_expenses_path %>
</div>
