<h1><%= t('shared_book.incomes_expenses_edit') %></h1>

<%= render "form", incomes_expense: @incomes_expense %>

<br>

<div>
  <%= link_to t('shared_book.details'), @incomes_expense %> |
  <%= link_to t('shared_book.incomes_expenses_index'), incomes_expenses_path %>
</div>
